<!DOCTYPE html>
<html>
  <head>
    <title>Demo2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'app/index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
